@model MachiningTechelperMVC.Application.ViewModels.MillingTool.ListMillingToolForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Magazyn Frezów Składanych</h1>

<p>
    <a asp-action="AddMillingTool">Dodaj nowy</a>
</p>
<form asp-action="Index" asp-controller="MillingTool" method="post" style="width: 100%;">
    <div class="row" style="width: 100%;">
        <input type="text" value="wpisz typ narzędzia" asp-for="SearchString" name="searchString" id="searchString" style="max-width: 200px; width: calc(100% - 120px);" />
        <input type="submit" value="Wyszukaj" style="width: 100px;" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Średnica D mm
                    </th>
                    <th>
                        Liczba ostrzy
                    </th>
                    <th>
                        Typ
                    </th>
                    <th>
                        Producent
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MillingTools)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Diameter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TeethNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ToolType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producer)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "EditMillingTool", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły", "ViewMillingTool", new { id = item.Id }) |
                            @Html.ActionLink("Usuń", "DeleteMillingTool", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i < Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}
