@model MachiningTechelperMVC.Application.ViewModels.MillingInsert.ListMillingInsertVm

@{
    ViewData["Title"] = "ViewMillingInserts";
}

<h1>Magazyn Płytek</h1>

<p>Nie znalazłeś właściwej płytki?</p>
<p>
    <a asp-action="AddMillingInsert">Dodaj nową płytkę</a>
</p>
<form asp-action="ViewMillingInserts" asp-controller="MillingTool" method="post" style="width: 100%;">
    <div class="row" style="width: 100%;">
        <input type="text" value="symbol płytki" asp-for="SearchString" name="searchString" id="searchString" style="max-width: 200px; width: calc(100% - 120px);" />
        <input type="submit" value="Wyszukaj" style="width: 100px;" />
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Oznaczenie
                    </th>
                    <th>
                        Promień
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MillingInserts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Designation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Radius)
                        </td>
                        <td>
                            @Html.ActionLink("Połącz płytkę", "LinkMillingInsert", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły płytki", "ViewMillingInsert", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i < Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}