@model MachiningTechelperMVC.Application.ViewModels.SimpleCalculator.SimpleCalculatorVm

<h2>Wyniki</h2>
<p>
    Process:
    @if (Model.IsMilling == true)
    {
        @:Frezowanie
        <br />
        <strong>Średnica mm:</strong> @Model.Diameter
        <br />
        <strong>Vc m/min:</strong> @Model.CuttingSpeed
        <br />
        <strong>Posuw na ząb mm/z:</strong> @Model.FeedPerTooth
        <br />
        <strong>Ilość ostrzy z:</strong> @Model.Teeth
    }
    else
    {
        @:Wiercenie
        <br />
        <strong>Średnica mm:</strong> @Model.Diameter
        <br />
        <strong>Vc m/min:</strong> @Model.CuttingSpeed
        <br />
        <strong>Posuw na obrót mm/rev:</strong> @Model.FeedPerRevolution
    }
</p>
<p>Obroty obr/min: @Model.RevolutionsPerMinute</p>
<p>Posuw mm/min: @Model.FeedPerMinute</p>

<a asp-action="Index" class="btn btn-primary">Wróć do kalkulatora</a>