@model MachiningTechHelperMVC.Application.ViewModels.Drill.ListDrillForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
				Diameter
            </th>
            <th>
				Length x Diameter
            </th>
            <th>
                Tool Type
            </th>
            <th>
				Producer
             </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Drills) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.Diameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthXDiameter)
            </td>
            <td>
				@Html.DisplayFor(modelItem => item.ToolType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "ViewDrill", new { id = item.Id }) |<!--Check if this work! -->
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
