@model MachiningTechHelperMVC.Application.ViewModels.Drill.DrillDetailsVm

<h2>Drill Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Diameter:</dt>
        <dd class="col-sm-10">@Model.Diameter</dd>

        <dt class="col-sm-2">Length x Diameter:</dt>
        <dd class="col-sm-10">@Model.LengthXDiameter</dd>

        <dt class="col-sm-2">Tool Type:</dt>
        <dd class="col-sm-10">@Model.ToolType</dd>

        <dt class="col-sm-2">Description:</dt>
        <dd class="col-sm-10">@Model.description</dd>

        <dt class="col-sm-2">Tip Angle:</dt>
        <dd class="col-sm-10">@Model.TipAngle</dd>

        <dt class="col-sm-2">Producer:</dt>
        <dd class="col-sm-10">@Model.Producer.CompanyName</dd>

        <div>
        <dt class="col-sm-2">Drill Parameters Range:</dt>
        </div>
        <dd class="col-sm-10">
            @if (Model.drillParametersRangesVms != null && Model.drillParametersRangesVms.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Grade Name</th>
                            <th>Description</th>
                            <th>Material</th>
                            <th>Cutting Speed Min</th>
                            <th>Cutting Speed Max</th>
                            <th>Feed Per Rev Min</th>
                            <th>Feed Per Rev Max</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var parameter in Model.drillParametersRangesVms)
                        {
                            <tr>
                                <td>@parameter.GradeName</td>
                                <td>@parameter.Description</td>
                                <td>@parameter.Material</td>
                                <td>@parameter.CuttingSpeedMinimum</td>
                                <td>@parameter.CuttingSpeedMaximum</td>
                                <td>@parameter.FeedPerRevisionMinimum</td>
                                <td>@parameter.FeedPerRevisionMaximum</td>
                                <td>
                                    <a asp-action="DeleteParametersRange" asp-route-id="@parameter.Id" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No parameters range available.</p>
            }
        </dd>
        <div>
        <a asp-action="AddParametersRange" asp-route-id="@Model.Id" class="btn btn-primary" style="width: 200px;">Add Parameters Range</a>
            <dt class="col-sm-2">Checked Parameters:</dt>
            <dd class="col-sm-10">
                @if (Model.DrillCheckedParameters != null && Model.DrillCheckedParameters.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Revisions Per Minute</th>
                                <th>Feed Per Minute</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var parameter in Model.DrillCheckedParameters)
                            {
                                <tr>
                                    <td>@parameter.Material</td>
                                    <td>@parameter.RevisionsPerMinute</td>
                                    <td>@parameter.FeedPerMinute</td>
                                    <td>
                                        <a asp-action="DeleteDrillCheckedParameters" asp-route-id="@parameter.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No checked parameters available.</p>
                }
            </dd>
    </dl>
</div>

<div>
    <a asp-action="AddDrillCheckedParameters" asp-route-id="@Model.Id" class="btn btn-primary">Add Checked Parameters</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>