@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mały pomocnik technologa</h1>
    <h2>Witaj w aplikacji MachiningTechHelperMVC</h2>
    <section>
        <h3>Obliczenia:</h3>
        <div>
            @Html.ActionLink("Szybkie parametry", "Index", "SimpleCalculator")
        </div>
        <div>
            @Html.ActionLink("Szybka wycena", "Index", "CostEstimation")
        </div>
    </section>
    <section>
        <h3>Katalogi:</h3>
        <div>
            @Html.ActionLink("Wiertła", "Index", "Drill")
        </div>
        <div>
            @Html.ActionLink("Frezy Monolityczne", "Index", "SolidMillingTool")
        </div>
        <div>
            @Html.ActionLink("Frezy Składane", "Index", "MillingTool")
        </div>
    </section>
    <section>
        @if (User.IsInRole("admin"))
        {
            <h3>Panel Admina:</h3>
            <div>
                @Html.ActionLink("Panel Admina", "Index", "Admin")
            </div>
        }
    </section>
